<footer class="main-footer">
  <div class="container footer">
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگ تپسی</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">تماس با ما</a>
      <a href="#">لوگو و هویت سازمانی</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگ تپسی</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">تماس با ما</a>
      <a href="#">لوگو و هویت سازمانی</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگ تپسی</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">تماس با ما</a>
      <a href="#">لوگو و هویت سازمانی</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگ تپسی</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">تماس با ما</a>
      <a href="#">لوگو و هویت سازمانی</a>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href="#">وبلاگ تپسی</a>
      <a href="#">فرصت شغلی</a>
      <a href="#">تماس با ما</a>
      <a href="#">لوگو و هویت سازمانی</a>
    </div>
    <div class="footer__item enemad">
      <div class="footer__enemad">
        <img src="./assets/images/enemad.jpg" alt="enemad" />
      </div>
      <div class="footer__enemad">
        <img src="./assets/images/enemad.jpg" alt="enemad" />
      </div>
      <div class="footer__enemad">
        <img src="./assets/images/enemad.jpg" alt="enemad" />
      </div>
    </div>
    <div class="social-icons">
      <h6>تپسی در شبکه های اجتماعی</h6>
      <div>
        <span>
          <svg class="icon">
            <use xlink:href="/assets/images/sprite.svg#telegram"></use>
          </svg>
        </span>
        <span>
          <svg class="icon">
            <use xlink:href="/assets/images/sprite.svg#linkedin"></use>
          </svg>
        </span>
        <span>
          <svg class="icon">
            <use xlink:href="/assets/images/sprite.svg#tweeter"></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
</footer>