<section class="hero-section">
  <picture>
    <source
      srcset="./assets/images/banner/banner.webp"
      type="image/webp"
      media="(min-width: 768px)"
    />
    <source
      srcset="./assets/images/banner/banner.jpg"
      type="image/jpg"
      media="(min-width: 768px)"
    />
    <source
      srcset="./assets/images/banner/banner-mobile.webp"
      type="image/webp"
      media="(max-width: 768px)"
    />
    <source
      srcset="./assets/images/banner/banner-mobile.jpg"
      type="image/jpg"
      media="(max-width: 768px)"
    />
    <img
      alt="banner"
      src="./assets/images/banner/banner.jpg"
      class="banner-img"
    />
  </picture>
  <section class="hero-wrapper container">
    <div class="intro-btn">
      <div>
        <h1>تپسی</h1>
        <h2>اپلیکیشن درخواست خودرو و پیک</h2>
      </div>
      <div class="intro-wrapper">
        <div class="intro-btn__passanger">
          <span>
            <i class="fa-solid fa-arrow-down"></i>
          </span>
          <p>دانلود اپلیکیشن مسافران</p>
        </div>
        <div class="intro-btn__passanger">
          <span>
            <i class="fa-solid fa-earth-americas"></i>
          </span>
          <p>وب اپلیکیشن مسافران</p>
        </div>
        <div class="intro-btn__passanger intro-btn__driver">
          <span>
            <i class="fa-solid fa-arrow-down"></i>
          </span>
          <p>دانلود اپلیکیشن رانندگان</p>
        </div>
        <div class="intro-btn__passanger intro-btn__driver">
          <span>
            <i class="fa-solid fa-earth-americas"></i>
          </span>
          <p>وب اپلیکیشن رانندگان</p>
        </div>
      </div>
    </div>
  </section>
</section>